perfect_webhook_slack.json
{
  "id": "enhanced_workflow_933069",
  "name": "Create Workflow Sends",
  "nodes": [
    {
      "id": "node_3504",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-alert-3554",
        "options": {
          "noResponseBody": false
        },
        "responseMode": "onReceived"
      }
    },
    {
      "id": "node_3628",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assignment_834",
              "name": "message",
              "value": "={{ $json.message || \"Webhook notification received\" }}",
              "type": "string"
            },
            {
              "id": "assignment_794",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "assignment_280",
              "name": "originalData",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        }
      }
    },
    {
      "id": "node_5045",
      "name": "Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "operation": "post",
        "channel": "#general",
        "text": "\ud83d\udea8 Webhook Alert!\n\n\ud83d\udcdd Message: {{ $json.message || \"Webhook triggered\" }}\n\u23f0 Time: {{ new Date().toLocaleString() }}\n\ud83d\udcca Data: {{ JSON.stringify($json, null, 2) }}"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "generated_by": "n8n-workflow-generator",
    "generation_timestamp": "2025-01-01T00:00:00.000Z",
    "version": "1.0"
  },
  "staticData": null,
  "tags": [
    "generated"
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}